/* Peruskamaa */

:root {
  --main-bg-color: #f9f6f1;
  --main-orange: #df9f20;
  --main-grey: #fffdfb;
}

body {
  background-color: var(--main-bg-color);
  text-align: left;
  margin: 0 0 0 0;
  font-family: "Work Sans", sans-serif;
}

.App {
  text-align: left;
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: var(--main-orange);
  text-align: left;
  margin: 0.6em 0 0.3em 0;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
  text-align: left;
}

p {
  text-align: left;
  margin: 1em 0 1em 0;
}

.otsikko {
  margin: 1em 0 0.5em 0;
  text-align: left;
}

.container {
  max-width: 960px;
  margin: auto;
}

/* Napit */

.perus-btn {
  background-color: var(--main-grey);
  padding: 6px;
  min-width: 100px;
  max-width: 300px;
  max-height: 50px;
  border-radius: 6px;
  border: solid 3px var(--main-orange);
  color: black;
  font-size: 18px;
  margin: 0.5em 0 1em 0;
  display: block;
  font-weight: 700;
}

.perus-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.delete {
  background-color: #df2030;
  color: white;
  border: solid 3px #df2030;
  margin: 1em 0 0.5em 0;
}

.update {
  background-color: #97136b;
  color: var(--main-bg-color);
  border: solid 3px #97136b;
  margin: 1em 0 0.5em 0;
}

.napit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.4em;
}

/* Navigaatio */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  text-decoration: none;
  max-width: 960px;
  gap: 0.2em;
}

.nav li {
  background-color: white;
  min-width: 100px;
  max-width: 300px;
  /* padding: 8px; */
  max-height: 50px;
  border-radius: 6px;
  border: solid 3px var(--main-orange);
  color: var(--main-orange);
}

.nav a {
  color: #976b13;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 10px 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav a:hover {
  color: black;
}
.nav li:hover {
  border: solid 3px var(--main-bg-color);
  background-color: var(--main-bg-color);
}

/* .next-nav {
  font-weight: 500;
  font-size: 1.2em;
  right: 0%;
  color: black;
  margin: 0.5em 0 0.5em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next-nav:hover {
  color: var(--main-orange);
}

.next {
  font-weight: 500;
  font-size: 1em;
  right: 0%;
  color: black;
  margin: 0.2em 0 0.5em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
} */

/* Alleviivaus-animaatio */

.animaatio {
  display: inline-block;
  position: relative;
  color: var(--main-orange);
}

.animaatio:after {
  content: "";
  position: absolute;
  width: 95%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0.4em;
  left: 0.2em;
  background-color: var(--main-orange);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.animaatio:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Table */

.taulu {
  /* border: solid 3px var(--main-orange); */
  border-collapse: collapse;
  margin: 0 0 0 0;
  border-radius: 6px;
  /* max-width: 960px; */
  max-width: 960px;
  table-layout: fixed;
  border: solid 3px var(--main-orange);
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
  /* display:inline-table; */
}

th {
  padding: 10px;
  /* max-width: 80px; */
  text-align: left;
  text-transform: uppercase;
  background-color: var(--main-orange);
  margin: 0 0 0 0;
  color: white;
}

td {
  font-size: 16px;
  text-align: left;
  padding: 10px;
  margin: 0 0 0 0;
  word-wrap: break-word;
}

tr:nth-child(odd) {
  background-color: #fcf5e9;
}
tr:nth-child(even) {
  background-color: white;
}

tr:hover {
  background-color: #e7db6f;
  cursor: pointer;
}

.id {
  width: 2vw;
}

.notes {
  max-width: 250px;
}

.email {
  max-width: 250px;
}

.lyhyt {
  width: 8vw;
}

/* Form */

.form {
  max-width: 600px;
  text-align: left;
  left: 0%;
  display: block;
}

label.form {
  font-size: 18px;
}

.perus-input {
  border: solid 3px var(--main-orange);
  border-collapse: collapse;
  margin: 0 0 0 0;
  border-radius: 6px;
  text-align: left;
  display: block;
  height: 24px;
}

.isompi {
  height: 68px;
}

input.perus-input {
  min-height: 2em;
  font-size: 18px;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

textarea {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
}

input.perus-input.isompi {
  text-align: start;

}
form {
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}
.input-error {
  color: red;
  font-weight: 600;
  display: inline-block;
  text-align: left;
  margin-top: 1.4em;
}
/* Single */

.tiedot {
  background-color: white;
  border-radius: 6px;
  max-width: 30%;
  border: solid 3px var(--main-orange);
  padding: 22px;
  margin: 1em 0 1em 0;
}

.tieto {
  font-size: 22px;
  /* background-color: var(--main-grey); */
  /* border-radius: 12px; */
  /* margin-top: 0.1em;
    margin-bottom: 0.1em; */
  margin: 0.2em 0 0.2em 0;
  word-wrap: break-word;
  
}

.tieto2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 0.5em;
  color: rgb(105, 103, 103);
  margin-bottom: 0.2em;
}

.lyhyempi {
  max-width: 300px;
}

.marginpois {
  margin-top: 0.2em;
}

/* Error & Success messages */
.message {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
.message p {
  text-align: center;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
.error {
  background-color: #df2030;
}
.success {
  background-color: #45843d;
}

.error-message {
  color: red;
}

/* Search */
.search {
  margin: 0.5em 0 2em 0;
  text-align: left;
  display: inline-block;
  float: left;
}


.search-input {
  text-align: left;
  display: inline-block;
  float: left;
  margin: 0 0.5em 0 0.5em;
  height: 33px;
  font-size: 18px;
  border: solid 3px var(--main-orange);
  border-radius: 6px;
}

.search-form {
  text-align: left;
  display: inline-block;
  float: left;
}

.search-btn {
  font-size: 16px;
  padding: 6px;
  margin: 0em 0 0 0em;
  height: 40px;
  max-width: 8em;
  border: solid 3px var(--main-orange);
  border-radius: 6px;
  background-color: var(--main-grey);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.search-btn:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.search-label {
  padding: 10px 0;
}

/* Media Query */

@media only screen and (max-width: 975px) {
  body {
    margin: 0 2em 0 2em;
  }

  @media only screen and (max-width: 675px) {
    .nav {
      flex-direction: column;
    }

    .nav li {
      max-width: 45%;
    }

    .search {
      display: flex;
    }

    .search-btn {
      font-size: 12px;
      padding: 2px;
    }
  }

  @media only screen and (max-width: 800px) {
    th,
    td {
      max-width: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tiedot {
        max-width: 40%;
    }
    .id {
      width: 2vw;
    }

    .notes {
      max-width: 50px;
    }

    .email {
      max-width: 50px;
    }

    .lyhyt {
      max-width: 50px;
    }
  }
}
